@page "/catalog"
@page "/catalog/{CategoryId:guid}"
@using StoneAssemblies.OdooBot.Wasm.ViewModels


@rendermode InteractiveWebAssembly

<FluentToastProvider />

<FluentButton style="width: 100%" Appearance="Appearance.Stealth" IconStart="@(new Icons.Filled.Size16.Document())" OnClick="DownloadDocumentAsync" Loading="_isDownloading" Disabled="@(this.SelectedCategories.Count == 0 && this.CategoryId is null)">Download</FluentButton>

@if (Category is not null)
{
    <PageTitle>@Category.Name</PageTitle>
    <FluentLabel Typo="Typography.Header" style="text-align: center"> @Category.Name </FluentLabel>

    <FluentDataGrid ItemsProvider="_productsProvider" Loading="_isLoading" ItemSize="46" Pagination="_paginationState" GridTemplateColumns="0.25fr 0.25fr 0.5fr 0.35fr 0.25fr 0.25fr 0.2fr 0.8fr 0.5fr" GenerateHeader="GenerateHeaderOption.Sticky" TGridItem="ProductDetailsViewModel">
        <ChildContent>
            <TemplateColumn Title="Is Published">
                <FluentCheckbox Value="@context.IsPublished" ReadOnly="true"/>
            </TemplateColumn>
            <PropertyColumn Title="Id" Property="@(c => c!.ExternalId)"/>
            <TemplateColumn Title="Name">
                <div style="white-space: pre-line">@context.Name</div>
            </TemplateColumn>
            <TemplateColumn Title="Standard Price">
                <div style="white-space: pre-line">@context.StandardPrice.ToString("C")</div>
            </TemplateColumn> 
            <TemplateColumn Title="In Stock">
                <div style="white-space: pre-line">@context.InStockQuantity.ToString("0.##") @context.QuantityUnit</div>
            </TemplateColumn>
            <TemplateColumn Title="Incoming">
                <div style="white-space: pre-line">@context.IncomingQuantity.ToString("0.##") @context.QuantityUnit</div>
            </TemplateColumn>
            <TemplateColumn Title="Aggregate">
                <div style="white-space: pre-line">@context.AggregateQuantity.ToString("0.##") @context.QuantityUnit</div>
            </TemplateColumn>
            <TemplateColumn Title="Description">
                <div style="white-space: pre-line">@context.Description</div>
            </TemplateColumn>
            <TemplateColumn Title="Image">
                @if (!string.IsNullOrWhiteSpace(context.ReferenceImage))
                {
                    <img src="@context.ReferenceImage"/>
                }
            </TemplateColumn>
        </ChildContent>
        <LoadingContent>
            <FluentStack Orientation="Orientation.Vertical" HorizontalAlignment="HorizontalAlignment.Center">
                Loading...<br/>
                <FluentProgress Width="240px"/>
            </FluentStack>
        </LoadingContent>
    </FluentDataGrid>

    <FluentPaginator State="@_paginationState"/>
}
else if(Categories?.Count > 0)
{
    <PageTitle>All Categories</PageTitle>
    <FluentStack Style="margin: 20px;" Orientation="Orientation.Vertical">
        <FluentCheckbox Label="All Categories" @bind-Value="AreAllCategoriesSelected" />
        @foreach (var category in this.Categories)
        {
            bool isChecked = SelectedCategories.Contains(category.Id);
            <FluentCheckbox Label="@category.Name"
                            @bind-Value:get="isChecked"
                            @bind-Value:set="(c) => OnCheckedChanged(category.Id, c)" />
        }
    </FluentStack>    
}